.intro {
  max-width: 830px;
  margin: 92px auto 132px;
  margin-top: 0;
}

.intro__content {
  max-width: 690px;
  margin-top: 0;
  
}

.intro__title {
  font-size: 32px;
  font-weight: 900;
  line-height: 1.1;
  margin-bottom: 40px;
}

.intro__quote {
  margin: 0 0 24px;
}

.intro__quote-text {
  font-size: 14px;
  line-height: 1.6;
  margin: 0 0 8px;
}

.intro__quote-author {
  font-size: 14px;
  display: block;
  text-align: right;
}

.intro__text {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 24px;
}

@media screen and (max-width: 1024px) {
  .intro {
    width: calc(100% - 32px);
  }
}

@media screen and (max-width: 768px) {
  .intro__title {
    font-size: 24px;
  }
}
