 .photo_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  max-width: 1184px;
  margin: 20px auto 92px;
  padding: 0 16px;
}

.photo_grid__item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}