@import url("../vendor/normalize.css");
@import url("../vendor/fonts.css");

/* bloques donde los llamo*/
@import url("../blocks/page.css");
@import url("../blocks/header.css");
@import url("../blocks/content.css");
@import url("../blocks/intro.css");
@import url("../blocks/place.css");
@import url("../blocks/footer.css");
@import url("../blocks/photo_grid.css");


